@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  @apply bg-background-light text-gray-900 dark:bg-background-dark dark:text-gray-100;
}
